a:link {
    color: #81a1c1;
    text-decoration: none;
}

body {
    background-color: #eceff4;
}

ul {
    list-style-type: none;
}

li {
    padding: 4px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
